[data-carouselvideo] {
  transition: opacity 0.3s;
  opacity: 0; }
  [data-carouselvideo][data-ready="true"] {
    opacity: 1; }
  [data-carouselvideo] .item {
    width: 100%; }
    [data-carouselvideo] .item video {
      width: 100%; }
