body{
  font-family: 'Soleil W01 Light';
}
h1{
  font-family: 'Soleil W01 Bold';
}
p, li{
  font-size:20px;
  text-shadow:none;
}
ul{
  padding:0;
  li{
    list-style-type: none;
  }
}


[data-carouselvideo]{
  transition:opacity 0.3s;
  opacity: 0;
  &[data-ready="true"]{
    opacity: 1;
  }
  .item{
    width:100%;
    video{
      width: 100%;
    }
    .video-wrapper{
      position:absolute;
    }
  }
  .container{
    position:absolute;
    width:100%;
    height:100%;
  }
  .carousel-caption{
    &.bottom-left{
      bottom:10%;
      left:10%;
      right:auto;
      text-align: left;
    }
    &.bottom-right{
      bottom:10%;
      right:10%;
      left:auto;
      text-align: right;
    }
    &.top-right{
      top:10%;
      right:10%;
      left:auto;
      text-align: right;
    }
    &.top-left{
      top:10%;
      left:10%;
      right:auto;
      text-align: left;
    }
    color:#000;
    width:55%;
    p{
      padding:8px 16px;
      background-color: white;
      margin:0 0 10px;
      display:inline-block;
    }
    li{
      padding:8px 16px 8px 46px;
      background-color: white;
      margin:0 0 10px;
      position:relative;
      display:inline-block;
      &:before{
        content:'»';
        padding-top:8px;
        font-size:30px;
        display: table-cell;
        vertical-align: middle;
        text-align:center;
        background-color: #dc5034;
        position:absolute;
        left:0;
        top:0;
        width:30px;
        height:100%;
        color:#fff;
      }
    }
    a.cta{
      font-size:24px;
      text-transform: uppercase;
      text-decoration: none;
      text-shadow:none;
      background-color: #dc5034;
      display: inline-block;
      background-color: #dc5034;
      padding:8px 24px 8px 24px;
      color:#fff;
    }
    &.dark{
      color:#fff;
      p, li{
        background-color:#000;
      }
    }
  }
  .carousel-control.left,
  .carousel-control.right{
    background:none;
  }
}